<div class="jumbotron jumbotron-fluid py-4 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Edit User
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <div *ngIf="ready; else loading">
        <p>
          <strong>
            Email:
          </strong>
          {{ user.email }}
        </p>
        <hr />
        <p>
          <strong>
            Admin:
          </strong>
          {{ user.admin }}
        </p>
        <p>
          <button class="btn btn-secondary" (click)="toggleAdmin()">
            Toggle admin
          </button>
        </p>
        <hr />
        <p>
          <strong>
            Special Access:
          </strong>
          <input
            type="text"
            name="specialAccess"
            [(ngModel)]="user.specialAccess"
          />
        </p>
        <p>
          <button class="btn btn-secondary" (click)="setSpecialAccess()">
            Update special access
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
