<section id="footer-section" class="mt-3">
  <footer class="text-center">
    <div class="container">
      <div class="row pt-3">
        <div class="col-md-12">
          <p class="mb-2">
            <a
              class="text-white"
              href="https://adam-on-the-internet.herokuapp.com/contact"
              target="_blank"
            >
              Contact
            </a>
          </p>
          <p>© Adam on the Internet {{ year }}</p>
          <p>
            <a (click)="goToInfo()">
              More info
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</section>
