<div class="jumbotron jumbotron-fluid py-4 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Admin Panel
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 my-3 mx-auto">
      <p>
        <button class="btn btn-secondary btn-block" (click)="goUserOverview()">
          User overview
        </button>
      </p>
      <p>
        <button class="btn btn-secondary btn-block" (click)="goServiceCheck()">
          Check services
        </button>
      </p>
    </div>
  </div>
</div>
