<div class="jumbotron jumbotron-fluid py-4 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Your Profile
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="ready; else loading">
  <div class="row">
    <div class="col-md-6 my-3">
      <p>
        <strong>
          email:
        </strong>
        {{ user.email }}
      </p>
      <p>
        <strong>
          admin:
        </strong>
        {{ user.admin }}
      </p>
      <p>
        <strong>
          special access:
        </strong>
        {{ user.specialAccess }}
      </p>
    </div>
    <div class="col-md-6 my-3">
      <p>
        <button class="btn btn-secondary" (click)="editEmail()">
          Edit your email
        </button>
      </p>
      <p>
        <button class="btn btn-secondary" (click)="editPassword()">
          Edit your password
        </button>
      </p>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</ng-template>
